{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="textoverflow">
        <p aria-label="Descripcion de quien soy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum, 
        necessitatibus molestias a fuga doloribus praesentium maxime repellendus debitis 
        placeat commodi error eum id consequuntur, laborum minus harum quod quasi.
        </p>
    </div>

    {% endblock %}
</body>
</html>