{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="icon" href="{% static 'core/img/cgfavicon.ico' %}" type="image/x-icon">
    <audio id="hover-sound" src="/static/core/audios/Hover.mp3" preload="auto"></audio>
    <audio id="click-sound" src="/static/core/audios/Active.mp3" preload="auto"></audio>
    <audio id="Audio" loop>
        <source src="/static/core/audios/IndexSound.mp3" type="audio/mpeg">
    </audio>
    
</head>
<body class="body">
    <div class="box">
        <header>
            <ul class="headeritem">
                <img class="headeritem__logo" src="{% static 'core/img/logo.png' %}" alt="logo">
                <h1 class="headeritem__title">Carlos Garavetti</h1>
                <a href="https://www.google.com"><button class="headeritem__buttom" ><p>X</p></butom></a>
            </ul>
        </header>    

        <nav class="nav">
            <ul class="contlist">
                <li class="contlist__item"><a href="{% url 'about' %}">Acerca de</a></li>
                <li class="contlist__item"><a href="{% url 'skills' %}">Skills</a></li>
                <li class="contlist__item"><a href="{% url 'projects' %}">Proyectos</a></li>
                <li class="contlist__item"><a href="{% url 'estudiando' %}">Estudiando</a></li>
                <li class="contlist__item"><a href="{% url 'contact' %}">Contacto</a></li>
            </ul>
        </nav>    
        
        <main class="main">
            <div class="main__content">
                <div class="textoverflow__text">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            <ul class="main__buttons">
                <a href="{% static 'core/doc/CV.pdf' %}" download><button class="main__buttons--button">Descarga CV</button></a>
                <button class="main__buttons--button">Animaciones</button>
                <button class="main__buttons--button--backSound">🔇</button>
            </ul>
        </main>
    </div>

</body>

<script>
    const hoverSound = document.getElementById('hover-sound');
    const clickSound = document.getElementById('click-sound');

    document.querySelectorAll('.main__buttons--button, .box__class-bar--play, .bi, .contlist__item, .headeritem__buttom, .main__buttons--button--backSound ').forEach(elem => {
    elem.addEventListener('mouseenter', () => {
        hoverSound.currentTime = 0;
        hoverSound.play();
    });
    elem.addEventListener('mousedown', () => {
        clickSound.currentTime = 0;
        clickSound.play();
    });
    });

    /** AUDIOBACK SECTION **/

    const audio = document.getElementById('Audio');
    const toggleButton = document.querySelector('.main__buttons--button--backSound');
    let isPlaying = false;

    toggleButton.addEventListener('click', () => {
    if (isPlaying) {
        audio.pause();
        toggleButton.textContent = '🔇';
        toggleButton.classList.add('off');
    } else {
        audio.play();
        toggleButton.textContent = '🔊 ';
        toggleButton.classList.remove('off');
    }
    isPlaying = !isPlaying;
    });

</script>

</html>