{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estuciando</title>
</head>
<body>
    {% block content %}
    <div>
        <h2 aria-label="Titulo secundario">Testing/QA</h2>
            <p class="textoverflow">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi 
                laborum ut expedita possimus laboriosam, nam dolorem eaque voluptatem, maxime, 
                delectus sit at itaque suscipit cumque hic amet culpa quos illum.</p>
    </div>     
    
    <div>
        <h2 aria-label="Titulo secundario">Ingles Tecnico</h2>
            <p class="textoverflow">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi 
                laborum ut expedita possimus laboriosam, nam dolorem eaque voluptatem, maxime, 
                delectus sit at itaque suscipit cumque hic amet culpa quos illum.</p>
    </div>
    {% endblock %}
</body>
</html>