{% extends 'core/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habilidades</title>
</head>
<body>
    {% block content %}
    <div class="skillsbox">
        
        <div class="skillsbox__class">
            <fieldset>
                <legend aria-label="Habilidad de HTML al 80%">HTML</legend>
                <p class="textoverflow">Pasing data info...</p>
                <div class="skillsbox__class-contain">
                    <div class="skillsbox__class-bar bar--80">80%</div>
                </div>
            </fieldset>
        </div>

        <div class="skillsbox__class">
            <fieldset>
                <legend aria-label="Habilidad de CSS al 60%">CSS</legend>
                <p class="textoverflow">Pasing data info...</p>
                <div class="skillsbox__class-contain">
                    <div class="skillsbox__class-bar bar--60">60%</div>
                </div>
            </fieldset>
        </div>

        <div class="skillsbox__class">
            <fieldset>
                <legend aria-label="Habilidad de Python al 70%">Python</legend>
                <p class="textoverflow">Pasing data info...</p>
                <div class="skillsbox__class-contain">
                    <div class="skillsbox__class-bar bar--70">70%</div>
                </div>
            </fieldset>
        </div>

        <div class="skillsbox__class">
            <fieldset>
                <legend aria-label="Habilidad de Django al 70%">Django</legend>
                <p class="textoverflow">Pasing data info...</p>
                <div class="skillsbox__class-contain">
                    <div class="skillsbox__class-bar bar--70">70%</div>
                </div>
            </fieldset>
        </div>

        <div class="skillsbox__class">
            <fieldset>
                <legend aria-label="Habilidad de Git & GitHub al 80%">Git & GitHub</legend>
                <p class="textoverflow">Pasing data info...</p>
                <div class="skillsbox__class-contain">
                    <div class="skillsbox__class-bar bar--80">80%</div>
                </div>
            </fieldset>
        </div>

        <div class="skillsbox__class">
            <fieldset>
                <legend aria-label="Habilidad de SQL al 90%">SQL</legend>
                <p class="textoverflow">Pasing data info...</p>
                <div class="skillsbox__class-contain">
                    <div class="skillsbox__class-bar bar--90">90%</div>
                </div>
            </fieldset>
        </div>
    </div>
    {% endblock %}
</body>
</html>

